<!DOCTYPE html>
<html>
  <head>
    <title>PoolSiteApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="m_l_10">Pool Site App</h1>
      <% if user_signed_in? %>
        <%= link_to image_tag('create.svg', class: 'create_img'), new_article_path %>
      <% end %>
    </header>
    <div class="contents">
      <%= yield %>
    </div>
  </body>
</html>
