<!DOCTYPE html>
<html>
  <head>
    <title>PoolSiteApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="navbar">
          <%= link_to "Pool Site App", root_path, class:"navbar_brand title" %>
          <% if user_signed_in? %>
            <%= link_to image_tag('create.svg', class: 'create_img'), new_article_path, class:"navbar-text" %>
          <% end %>
        </nav>
      </div>
    </header>
    <div class="contents">
      <%= yield %>
    </div>
  </body>
</html>
