<div class="register">
  <h1>Sign up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password confirmation" %>
    </div>

    <div class="actions m_t_30">
      <%= f.submit "Sign up", id: "register-button" %>
    </div>
  <% end %>
  <div class="register_help m_t_25"><%= render "users/shared/links" %></div>
</div>